.header {
    background-color: var(--cor-Principal);
    display: flex;
    flex-direction: column; /* por causa do flex column tem que colocar o align-items */
    align-items: center;
    padding: 180px 0 40px;
    margin-bottom: 80px;
}

.avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid var(--cor-Secundaria);
    margin-bottom: 8px;
}

.name {
    font-size: 18px;
    color: var(--cor-Secundaria);
}